examples/air-conditioner.json
[{"id":"6dd076d3.1ddb5","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7c629611.a69b78","type":"zway-input","z":"6dd076d3.1ddb5","name":"","server":"dcc013de.7a3b68","device":"ZWayVDev_zway_15-0-64","device_name":"Кондиционер","x":187.83456420898438,"y":127.82353210449219,"wires":[[],["f40711d.13c99f"]]},{"id":"f40711d.13c99f","type":"homekit-service","z":"6dd076d3.1ddb5","isParent":true,"bridge":"1525497a.2b2487","parentService":"","name":"Балкон Кондиционер","serviceName":"Thermostat","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{\n    \"TargetHeatingCoolingState\": {\n        \"validValues\": [0, 2]\n    },\n    \"CurrentHeatingCoolingState\": {\n        \"validValues\": [0, 2]\n    }\n}","x":407.8308410644531,"y":150.12864685058594,"wires":[["591ae166.94b868"]]},{"id":"591ae166.94b868","type":"zway-output","z":"6dd076d3.1ddb5","name":"","server":"dcc013de.7a3b68","device":"ZWayVDev_zway_15-0-64","device_name":"Кондиционер","command":"homekit","commandType":"homekit","payload":"payload","payloadType":"msg","x":627.8346252441406,"y":148.1691131591797,"wires":[]},{"id":"8ac9c8c.7a72938","type":"zway-input","z":"6dd076d3.1ddb5","name":"","server":"dcc013de.7a3b68","device":"ZWayVDev_zway_15-0-49-1","device_name":"Remotec Temperature","x":153.8309326171875,"y":175.82717895507812,"wires":[[],["f40711d.13c99f"]]},{"id":"dcc013de.7a3b68","type":"zway-server","z":"","name":"zway","ip":"127.0.0.1","port":"80","login":"admin","pass":"Ts6004408184"},{"id":"1525497a.2b2487","type":"homekit-bridge","z":"","bridgeName":"NR2","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true}]